*{box-sizing: border-box;}

/* 내용 전체 영역 지정 */
.content_container{
    /* border: 1px solid red; */
    margin: 0 80px 100px 80px;
}

/* box 안에 내용 영역 */
.box_container{
    border: 1px solid rgb(208, 208, 208);
    height: 150px;
    padding: 30px 40px;
    display: flex;
}

.box_text{
    /* border: 1px solid red; */
    font-size: 18px;
    /* line-height: 1.5rem; */
    font-weight: bold;
    width: 300px;
    overflow: hidden;
}

.box_content{
    /* border: 1px solid red; */
    width: 800px;
    display: flex;
    margin-left: 40px;
}

.box_content_d{
    /* border: 1px solid red; */
    width: 320px;
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: row;
}

.box_review_section{
    /* border: 1px solid red; */
    width: 50%;
    padding-right: 40px;
    padding-left: 5px;
    flex-direction: column;
    /* font-size: 1.125rem; */
    border-right-width: 1px;
    display: flex;
}

.box_center{
    padding: 0 20px;
}

.box_center > p > span:nth-of-type(2):hover{
    cursor: pointer;
}

.box_review_section >p:nth-of-type(1){
    text-align: left;
    color: rgb(55, 55, 55);
    font-weight: bold;
}

.box_review_section > a > p:nth-of-type(1){
    text-align: left;
    color: rgb(55, 55, 55);
    font-weight: bold;
}

.box_review_section > p:nth-of-type(2){
    text-align: left;
    color: rgb(254, 161, 22);
    font-weight: bold;
    font-size: 30px;
}

.box_review_section > a > p:nth-of-type(2){
    text-align: left;
    color: rgb(254, 161, 22);
    font-weight: bold;
    font-size: 30px;
}

/* ========================================== */
/* 카테고리 버튼 */
.category_section{
    /* border: 1px solid red; */
    text-align: center;
    padding: 40px 0 10px 0;
    margin-left: 26%;
    margin-right: 26%;
}

.category_button{
    /* border: 1px solid red; */
    display: flex;
    text-align: center;
    justify-content: center;
}

.category_button > label{
    /* border: 1px solid red; */
    /* border: 1px solid rgb(113, 214, 199); */
    border-radius: 10px;
    margin: 0 20px;
    /* color: rgb(55, 55, 55); */
    font-weight: bold;
    padding: 10px;
    width: 100px;
    overflow: hidden;
}

.category_button > label:hover{
    cursor: pointer;
    background-color: rgb(113, 214, 199);
    color: white;
}

.reviewChecked{
    cursor: pointer;
    background-color: rgb(113, 214, 199);
    color: white;
}

.reviewRadio{
    display: none;
}




/* ========================================== */
/* 리뷰 목록 */
.review-section{
    /* border: 1px solid red; */
    padding: 0 0 20px 0;
}

.review-list{
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-between; */
    margin-top: 40px;

}

.review-content{
    /* border: 1px solid red; */
    width: 30%;
    height: 500px;
    padding: 0;
    margin: 0 16px;
}

.review-content > div > img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
}

.review-content > div > img:hover{
    cursor: pointer;
}

.review-content-text{
    display: block;
    height: 150px;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    border-bottom-right-radius: .125rem;
    border-bottom-left-radius: .125rem;
}

.review-content-top-section{
    display: flex;
}

.review-content-top-left{
    width: 50%;
}

.review-content-top-left > div:nth-of-type(1){
    font-weight: bold;
}

.review-content-top-left > div:nth-of-type(2){
    color: rgb(167, 167, 167);
    font-size: 13px;
}

/*  별점 */


/* .review-star > span{
    color: rgb(113, 214, 199);
    text-align: end;
} */

.review-star{
    /* border: 1px solid red; */
    padding-left: 30px;
    display: flex;
}

.fa-star {
    color: rgb(113, 214, 199);
}

.rating .star-wrap{width: 20px; display:inline-block;}

.rating .star{
    width: 0;
    overflow: hidden;
}




.review-content-text-section{
    /* border: 1px solid red; */
    padding: 10px 0;
    color: black;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.review-content-bottom-section > div{
    padding-top: 8px;
    border-top: 0.5px solid rgb(157, 157, 157);
    color: rgb(176, 176, 176);
}


/* ========================================== */

/* 모달창 */
.mymodal{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(160, 160, 160, 0.429);
    border-radius: 1px;
    border: 1px solid red; 
}

.modal-close{
    background-color: rgb(50, 50, 50);
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 15px;
}

.modal-close:hover{
    cursor: pointer;
}

.modal-window{
    background-color: white;
    border-radius: 3px;
    /* border: 1px solid red; */
    width: 800px;
    height: 500px;

    position: absolute;

    display: flex;
}

.modal-body > div{
    /* border: 1px solid red; */
    width: 50%;
}

.modal-mainImage > div:nth-of-type(1){
    /* border: 1px solid red; */
    height: 80%;
}

.active > img{
    /* border: 1px solid red; */
    width: 100%;
    object-fit: contain;
}

.modal-imgList > div:hover{
    cursor: pointer;
}

.modal-mainImage > div img{
    /* border: 1px solid red; */
    height: 20%;
    object-fit: cover;
}

.modal-imgList{
    display: flex;
    /* height: 20%; */
}

.modal-imgList > div{
    /* border: 1px solid red; */
    width: 25%;
}

.img4{
    background-color: rgb(255, 255, 255);
    color: rgb(216, 216, 216);
    text-align: center;
    line-height: 0.9;
    font-size: 100px;
}

.modal-imgList > div>img{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    object-fit: covers;
}

.modal-mycontent{
    border-radius: 0;
    padding: 20px;
    /* border-left: 1px solid red; */
}

.modal-content-info{
    display: flex;
    /* padding: 20px 0; */
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(160, 160, 160);
}

.modal-content-info > div{
    /* border: 1px solid red; */
    width: 50%;
}

.modal-content-info > div:nth-of-type(1){
    padding: 0 0 0 10px;
}

.purchase{
    margin-top: 5px;
    font-size: 13px;
}

.info-name-date > span:nth-of-type(1){
    font-weight: bold;
    font-size: 18px;
    color: rgb(50, 50, 50);
}

.info-name-date > span:nth-of-type(2){
    margin-left: 5px;
    color: rgb(158, 158, 158);
    padding-top: 10px;
    font-size: 14px;
}

.modal-star > div{
    text-align: end;
    padding-right: 5px;
}

.modal-star > div > span{
    font-size: 18px;
    color: rgb(113, 214, 199);
}

.avgstar{
    font-size: 20px;
    font-weight: bold;
    color:rgb(254, 161, 22);
}



.modal-content-text{
    /* border: 1px solid red; */
    padding: 20px 0;
    font-size: 15px;
    color: rgb(60, 60, 60);
    height: 400px;
}

.modal-bottom{
    /* border: 1px solid red; */
    height: 20px;
}

.modal-sub{
    /* border: 1px solid red; */
    text-align: end;
    bottom: 0;
}

.modal-sub > a{
    color: blue;
}

.review-content-text-section:hover{
    cursor: pointer;
}


/* ----------------------------------------- */


/* 미작성 리뷰 카테고리 */
.unWritten-reviewCode{
    /* border: 1px solid red; */
    display: flex;
}

.subBox{
    width: 50%;
    height: 80px;
}

.subBox > div:nth-of-type(1){
    /* border: 1px solid red; */
    padding-top: 10px;
    height: 80%;
}

.subBox > div > span:nth-of-type(1){
    font-weight: bold;
    font-size: 18px;
    color: rgb(50, 50, 50);
}

.unWritten > div > span:nth-of-type(2){
    font-weight: bold;
    padding-left: 20px;
    font-size: 30px;
    color:rgb(254, 161, 22);
}

.unWritten > div:nth-of-type(2){
    width: 100%;
    height: 15px;
    background-color: rgb(113, 214, 199);
    margin-right: 5px;
}



.product{
    width: 50%;
    height: 80px;
}

.product > div:nth-of-type(1){
    /* border: 1px solid red; */
    padding-top: 10px;
    height: 80%;
}

.product > div > span:nth-of-type(1){
    font-weight: bold;
    font-size: 18px;
    color: rgb(50, 50, 50);
}

.unWrittenNone > div > span:nth-of-type(2){
    font-weight: bold;
    padding-left: 20px;
    font-size: 30px;
    color:rgb(208, 208, 208);
}

.unWrittenNone > div:nth-of-type(2){
    width: 100%;
    height: 15px;
    background-color: rgb(206, 206, 206);
    margin-right: 5px;
}



/* 미작성 리뷰 리스트 */
.unWrittenReview-List > div{
    /* border: 1px solid red; */
    height: 250px;
    border-bottom: 1px solid rgb(195, 195, 195);
}

.unWritten-list{
    /* border: 1px solid red; */
    background-color: rgb(245, 245, 245);
    margin-top: 40px;
    height: 215px;
    display: flex;
}

.unWritten-list > div:nth-of-type(1){
    /* border: 1px solid red; */
    width: 400px;
}

.unWritten-subList > img{
    /* border: 1px solid red; */
    margin-left: 40px;
    width: 250px;
}

.unWritten-productList > img{
    /* border: 1px solid red; */
    margin-left: 80px;
    padding: 18px 10px 10px 10px;
    width: 160px;
    height: 165px;
    object-fit: cover;
}


.unWritten-list > div:nth-of-type(2){
    /* border: 1px solid red; */
    width: 70%;
}

.unWritten-list > div {
    /* border: 1px solid red; */
    padding: 0 20px;
    padding: 20px 0;
}

.unWritten-list > div > div:nth-of-type(1){
    /* border: 1px solid red; */
    margin: 10px 0;
    font-size: 14px;
    color: rgb(157, 157, 157);
}

.unWritten-list > div > div:nth-of-type(2){
    font-size: 20px;
    font-weight: bold;
}

.unWritten-list > div > div:nth-of-type(3){
    font-size: 16px;
    margin: 10px 0;
    color: rgb(131, 131, 131);
}

.unWritten-list > div > div:nth-of-type(4){
    text-align: end;
    padding-right: 40px;
}

.unWritten-list > div > div > button{
    border: 0;
    background-color: rgb(113, 214, 199);
    width: 200px;
    height: 35px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

/* 미작성 리뷰 버튼 클릭시 */
.box_review_section a:hover{
    cursor: pointer;
}


#productUnWrittenList{ display: none;}

.subBox , .product{ cursor: pointer;}


/* ====================================================== */

/* 나의 리뷰 */
.myreview-list{
    /* margin-bottom: 20px; */
    border-bottom: 1px solid rgb(176, 176, 176);
    margin-top: 40px;
}


.myreview-section{
    /* border: 1px solid red; */
    margin-top: 40px;
}

.myreview-content{
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;
}

.myreview-content > div:nth-of-type(1){
    /* border: 1px solid red; */
    width: 300px;
    padding: 20px 0;
    margin-left: 40px;
    text-align: center;

}

.myreview-content > div:nth-of-type(2){
    /* border: 1px solid red; */
    width: 100%;
    padding: 20px 0 10px 30px;
}


.myreview-content > div > img{
    width: 160px;
    height: 160px;
}

.myReview-star{
    /* border: 1px solid red; */
    color: rgb(254, 161, 22);
    font-size: 20px;
    margin-bottom: 10px;
}

.content-info > div:nth-of-type(2){
    /* border: 1px solid red; */
    font-size: 14px;
    color: rgb(157, 157, 157);
}

.content-info > div:nth-of-type(3){
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    color: rgb(131, 131, 131);
}

.content-info > div:nth-of-type(4){
    /* border: 1px solid red; */
    font-weight: bold;
    margin-top: 20px;
    color: rgb(85, 85, 85);
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.myreview-button{
    /* border: 1px solid red; */
    margin: 0 20px 30px 0;
    text-align: end;
}

#updateBtn{
    border: 0;
    width: 80px;
    height: 30px;
    color: white;
    background-color: rgb(113, 214, 199);
    font-weight: bold;
    border-radius: 7px;
    margin-right: 10px;
}

#deleteBtn{
    border: 0;
    width: 80px;
    height: 30px;
    color: white;
    background-color: rgb(113, 214, 199);
    font-weight: bold;
    border-radius: 7px;
    margin-right: 10px;
}