/* 리뷰 작성 영역 */
.review-container{
    /* border: 1px solid red; */
    margin: 100px 300px;
}


/* 구매한 상품 */
.purchase-product{
    display: flex;
    border-bottom: 1px solid rgb(178, 178, 178);
    height: 140px;
    margin-top: 20px;
}

.purchase-product > div:nth-of-type(1){
    /* border: 1px solid red; */
    width: 120px;
    padding-left: 10px;
}

.purchase-product > div > img{
    /* border: 1px solid red; */
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.purchase-product > div:nth-of-type(2){
    /* border: 1px solid red; */
    width: 500px;
    padding-left: 20px;
    display: inline-block;
}

.purchase-product > div > div:nth-of-type(1){
    color: rgb(159, 159, 159);
    font-size: 14px;
}

.purchase-product > div > div:nth-of-type(2){
    /* border : 1px solid red; */
    color: gray;
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
    display: flex;
}

.purchase-product > div > div > div{
    /* border: 1px solid red; */
    margin-left: 10px;
}

.purchase-product > div > div:nth-of-type(3){
    margin-top: 8px;
    color: rgb(159, 159, 159);
    font-size: 16px;
}


/* 별점 구간 */
.review-star-section{
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(178, 178, 178);
}
/* 
.review-star-section > h3{
    font-size: 24px;
}

.review-star-section > div{
    padding-top: 10px;
    font-size: 40px;
    color: rgb(254, 161, 22);
}

.review-star-section > div > span:hover{
    cursor: pointer;
} */

/* 별점 */
/* #myform fieldest{
    display: inline-block;
    direction : rtl;
    border: 0;
}

#myform fieldset legend{
    text-align: right;
}

#myform input[type=radio]{
    font-size: 3rem;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}

#myform label:hover{
    text-shadow: 0 0 0 rgba(254, 161, 33, 0.99);
}

#myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(254, 161, 33, 0.99);
}

#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(254, 161, 33, 0.99);
} */


.star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
  }
  
  .star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: rgb(254, 161, 33);
    overflow: hidden;
    pointer-events: none;
  }




/* 이미지 삽입 부분 */
.review-img-upload{
    /* border: 1px solid red; */
    padding: 40px 30px;
    border-bottom: 1px solid rgb(178, 178, 178);
    display: flex;
}

.reviewImg{
    /* border: 1px solid rgb(209, 209, 209); */
    width: 140px;
    height: 140px;
    /* background-color: rgb(107, 107, 107); */
    padding: 20px;
    display: inline-block;
    text-align: center;

    position : relative;
}

.reviewImg > label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(209, 209, 209);
}

.preview{
    max-width: 100%;
    max-height: 100%;
}

.inputImage{
    /* border: 1px solid red; */
    display: none;
}

.delete-image{
    /* border: 1px solid red; */
    top: 0;
    right: 7px;
    position: absolute;
    cursor: pointer; 
}


/* 리뷰 작성 영역 */
.review-inputtext{
    /* border: 1px solid red; */
    padding: 40px 0;
    border-bottom: 1px solid rgb(178, 178, 178);
}

.review-inputtext > textarea{
    width: 100%;
    height: 300px;
    resize: none;
    border: 1px solid rgb(220, 220, 220);
}


/* 리뷰 유의사항 */
.review-precautions{
    /* border: 1px solid red; */
    padding: 40px 0;
}

.review-precautions > h6{
    color: rgb(254, 161, 22);
    padding-bottom: 20px;
}

.review-precautions > div:nth-of-type(1){
    color: rgb(137, 137, 137);
    padding-bottom: 20px;
}


/* 작성 완료 버튼 */
.review-insert{
    /* border: 1px solid red; */
    margin: 30px 0;
    text-align: center;
}

.review-insert > button{
    border: 0;
    background-color: rgb(113, 214, 199);
    color: white;
    font-weight: bold;
    font-size: 24px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
}


.imgHidden{display: none;}
