.btn-primary{
    margin: 20px 10px;
    border-radius: 5px;
    background-color: rgb(255, 89, 87);
}

.slide{
    margin-bottom: 100px;
}

.slide-container{
    display: flex;
    justify-content: center;
}

.category{
    display: flex;
    justify-content: center;
}

.line{
    width: 100%;
    height: 5px;
    background-color: rgba(224, 224, 224, 0.29);
    margin-bottom: 40px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.flex-container > h4{
    display: inline-block;
}

.col{
    margin: 30px 0;
    display: flex;
}

.box{
    width: 320px;
    margin: 0 auto;
    position: relative;
}

.col > a{
    justify-content: center;
    margin: 0 auto;
}

.img-box{
    height: 300px;
}

.product-img{
    height:300px;
    width: 300px;
    object-fit: cover
}

.sub-box > div{
    width: 50px;
    height: 50px;
}

.sub-box > p{
    display: inline-block;
}


/* 품절 처리 */
.soldout{
    filter: brightness(70%); 
}

.soldout-sticker{
    position: absolute;
    bottom: 15%;
    right: 2%;
    width: 50px;
    height: 50px;
}


.btn-outline-success{
    border: 1px solid #ff4444;
    color: #ff4444;
}

.btn-outline-success:hover{
    background-color: #ff4444;
    color: white;
    border: white;
}

h4{
    margin-top: 15px;
}


/* 별점 */
.review-star{
    /* border: 1px solid red; */
    display: flex;
}

.fa-star {
    color: rgb(113, 214, 199);
}

.rating .star-wrap{width: 20px; display:inline-block; margin: 0 -3px;}

.rating .star{
    width: 0;
    overflow: hidden;
}
.review-star > p{
    padding-right: 14px;
}