<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	
	<!-- 회원 -->
	<resultMap type="member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="secessionFlag" column="MEMBER_ST"/>
		<result property="secessionCode" column="SECESSION_CD"/>
		<result property="secessionDate" column="SECESSION_DATE"/>
		<result property="passStatus" column="PASS_ST"/>
	</resultMap>
	
	
	
	
	<!-- 주문 내역  -->
	<resultMap type="orderHistory" id="orderHistory_rm">
		<id property="orderNo" column="P_ORDER_CD"/>
		
		<result property="origin" column="ORIGIN"/>
		<result property="deliveryFlag" column="DELIVERY_ST"/>
		<result property="totalPrice" column="TOTAL_PRICE"/>
		<result property="orderDate" column="P_ORDER_DT"/>
		<result property="count" column="CNT"/>
		
	</resultMap>
	
	
	<!-- 내구독 현황  -->
	<resultMap type="subStatus" id="subStatus_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="subName" column="S_NM"/>
		<result property="subCycle" column="S_CYCLE"/>
	
	</resultMap>

		



	<!-- 로그인 -->
	<select id="login" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_NAME, MEMBER_EMAIL, MEMBER_ST, FLOOR(SYSDATE - SECESSION_DT) PASS_ST
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
	
	<!-- 회원가입 -->
	<insert id="signUp" parameterType="member"  useGeneratedKeys="true">
		<selectKey  keyProperty="memberNo" resultType="_int" order="BEFORE">
			SELECT SEQ_MEMBER_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO MEMBER VALUES(#{memberNo}, #{memberName}, #{memberEmail}, DEFAULT, DEFAULT )

	</insert>
	
	
	<!-- 회원 탈퇴  -->
	<update id="secession">
	
		UPDATE MEMBER SET 
		MEMBER_ST='Y',
		SECESSION_CD = #{choice},
		SECESSION_DT = SYSDATE
		WHERE MEMBER_NO = #{memberNo}
		
	</update>
	
	
	<!-- 재가입 -->
	<update id="reSignUp">
		UPDATE MEMBER SET 
		MEMBER_ST='N',
		SECESSION_CD = NULL,
		SECESSION_DT = NULL
		WHERE MEMBER_EMAIL = #{memberEmail}
	
	</update>
	
	
	<!-- 내구독현황 -->
	<select id="subscriptionStatus" resultMap="subStatus_rm">
		SELECT MEMBER_NAME, S_NM, S_CYCLE
		FROM SUBS_ORDER
		JOIN MEMBER
		USING(MEMBER_NO)
		JOIN SUBS USING(S_CD)
		WHERE MEMBER_NO = #{memberNo}
		AND S_CANCEL = 'N'
		GROUP BY S_ORDER_CD,MEMBER_NAME, S_NM, S_CYCLE
	</select>
	
	
	<!-- 내구독 상품 취소 -->
	<update id="subCancel">
		UPDATE SUBS_ORDER SET
		S_CANCEL = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 개별 상품 주문 내역 조회 -->
	<select id="selectOrderHistoryList" resultMap="orderHistory_rm">
		SELECT P_ORDER_CD,TOTAL_PRICE,DELIVERY_ST,
			TO_CHAR(P_ORDER_DT,
			'YYYY/MM/DD') P_ORDER_DT,
		
			'[원산지 ' || (SELECT ORIGIN || '] ' ||
			PRODUCT_NM FROM PRODUCT_ORDER
			JOIN OPTION_TB USING(P_ORDER_CD)
			JOIN OPTION_TYPE USING(OPTION_CD)
			JOIN PRODUCT USING(P_CD)
			JOIN FARM USING(FARM_NO)
			WHERE P_ORDER_CD = #{orderNo}
			AND ROWNUM = 1) ORIGIN,
		
			(SELECT COUNT(*) - 1 CNT FROM PRODUCT_ORDER
			JOIN
			OPTION_TB USING(P_ORDER_CD)
			JOIN OPTION_TYPE USING(OPTION_CD)
			JOIN
			PRODUCT USING(P_CD)
			JOIN FARM USING(FARM_NO)
		WHERE P_ORDER_CD = #{orderNo} ) CNT
		FROM PRODUCT_ORDER
		JOIN PRODUCT_DELIVERY USING(DELIVERY_CD)
		WHERE MEMBER_NO = #{memberNo}
	
	</select>
</mapper>
