<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="subscriptionMapper">


	<!-- 상품 목록용 resultMap -->   
	<resultMap type="productList" id="product_list">
		<id property="productCode" column="P_CD"/>
		<result property="productName" column="PRODUCT_NM"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="imgRoot" column="IMG_ROOT"/>
		<result property="categoryName" column="P_CATEGORY_NM"/>
		<result property="starCount" column="STAR_COUNT"/>
		<result property="starAvg" column="STAR_AVG"/>
		<result property="productState" column="PRODUCT_ST"/>
		<result property="categoryNo" column="P_CATEGORY_NO"/>
	</resultMap>
	
	<resultMap type="delivery" id="delivery_rm">
		<id property="subsOrderCode" column="S_ORDER_CD"/>
		<result property="sCancel" column="S_CANCEL"/>
		<result property="cycle" column="S_CYCLE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="box" column="S_CD"/>
		<result property="amount" column="S_PRICE"/>
		<result property="payNo" column="S_PAY_NO"/>
		<result property="payDate" column="S_PAY_DT"/>
	</resultMap>


	
	
	<!-- 결제 번호 생성 -->
	<select id="createSOrderNo" resultType="string">
		SELECT 
		<choose>
	   		<when test='box == 1'>
				CONCAT(TO_CHAR(SYSDATE, '"S"YYYYMMDD-"00"'), SEQ_S_ORDER_CD.NEXTVAL) as temp
			</when>
	   		<otherwise>
				CONCAT(TO_CHAR(SYSDATE, '"J"YYYYMMDD-"00"'), SEQ_S_ORDER_CD.NEXTVAL) as temp
			</otherwise>
		</choose>
		FROM DUAL
	</select>
	
	
	<!-- 첫배송일 지정 -->
	<select id="createDelDate" resultType="date">
		<![CDATA[
		WITH TEMP_DATE AS (
		SELECT TO_DATE(YYYY||MM, 'YYYYMM') YYYYMM 
		FROM (SELECT LPAD(LEVEL, 2, '0') MM FROM DUAL
		    CONNECT BY LEVEL <= 12)
		    ,(SELECT TO_CHAR(LEVEL+TO_CHAR(SYSDATE, 'YYYY') -1 ) YYYY FROM DUAL
		    CONNECT BY LEVEL <= 1)
		ORDER BY 1)
		]]>
		
		SELECT COL_VAL FROM (
		    SELECT YYYYMM "1일", 
		        YYYYMM + 7 + (4-TO_CHAR(YYYYMM, 'D')) "두번째 수요일",
		        YYYYMM + 21 + (4-TO_CHAR(YYYYMM, 'D')) "네번째 수요일",
		        ADD_MONTHS(YYYYMM, 1) + 7 + (4-TO_CHAR( ADD_MONTHS(YYYYMM, 1), 'D')) "다음달 두번째 수요일"
		    FROM TEMP_DATE
		)
		UNPIVOT ( COL_VAL FOR COL_NM IN ("두번째 수요일", "네번째 수요일", "다음달 두번째 수요일"))
		
		
		WHERE "1일" = TRUNC(SYSDATE, 'MM')
		AND COL_VAL > SYSDATE
		AND ROWNUM = 1
	</select>
	
	
	<!-- 주문 삽입 -->
	<insert id="insertSubsOrder">
		INSERT INTO SUBS_ORDER VALUES(
			#{subsOrderNo},
			DEFAULT, DEFAULT,
			#{orderName},
			#{orderPhone},
			#{orderAddress},
			#{delText},
			#{firstDelDate},
	        DEFAULT,
          	#{cycle},
           	#{memberNo},
           	#{box}
	       )
	</insert>
	
	<!-- 구독 중인지 확인 -->
	<select id="checkSubs" resultType="string">
		SELECT * FROM
		   (SELECT * FROM SUBS_ORDER
		   WHERE MEMBER_NO = #{memberNo}
		   AND S_CANCEL = 'N')
		WHERE ROWNUM=1
	</select>
	
	
	<!-- 제외 상품 삽입 -->
	<insert id="exception">
		INSERT INTO SUBS_EXCEPTION 
		
		<foreach collection="choice" item="item" open="(" close=")" separator=" UNION ALL ">
			SELECT #{item}, #{subsOrderNo} FROM DUAL
		</foreach>
		
	</insert>
	
	
	<!-- 구독 결제정보 삽입 -->
	<insert id="insertPay">
		INSERT INTO SUBS_PAY VALUES(
		   #{payNo},
		   SYSDATE,
		   #{amount},
		   #{memberNo},
		   #{subsOrderNo}
		)
	</insert>
	
	
	
	<insert id="insertDel">
		INSERT INTO SUBS_DELIVERY VALUES (
		   SEQ_S_DELIVERY_CD.NEXTVAL,
		   #{firstDelDate},
		   1,
		   #{subsOrderNo}
		)
	</insert>
	
	<!-- 배송주기가 '1'인 구독 목록 조회 -->
	<select id="selectEveryList" resultMap="delivery_rm">
		SELECT MEMBER_NO, S_ORDER_CD, S_PRICE
		FROM SUBS_ORDER
		JOIN SUBS USING(S_CD)
		WHERE S_CYCLE='1'
		AND S_CANCEL='N'
	</select>
	
	<!-- 매주 수요일 배송전->배송중으로 변경 -->
	<update id="updateDel">
		UPDATE SUBS_DELIVERY A
		SET DELIVERY_CD ='2'
		WHERE DELIVERY_CD ='1'
		AND S_ORDER_CD IN (SELECT S_ORDER_CD FROM SUBS_ORDER
		              WHERE S_CYCLE ='1' AND S_CANCEL='N')
	</update>
	
	<!-- 구독 결제 추가  -->
	<insert id="insertAddPay">
		INSERT INTO SUBS_PAY VALUES(
			
		   #{payNo},
		   SYSDATE,
		   #{amount},
		   #{memberNo},
		   #{subsOrderCode}
		)
	</insert>
	
	<!-- 매주 금요일 배송중->배송완으로 변경 -->
	<update id="updateEveryFri">
		UPDATE SUBS_DELIVERY A
		SET DELIVERY_CD ='3'
		WHERE DELIVERY_CD ='2'
		AND S_ORDER_CD IN (SELECT S_ORDER_CD FROM SUBS_ORDER
		              WHERE S_CYCLE ='1' AND S_CANCEL='N')
	</update>
	
	
	<!-- 격주 구독 내역 조회 -->
	<select id="selectBiList" resultMap="delivery_rm">
		SELECT MEMBER_NO, S_ORDER_CD, S_PRICE
		FROM SUBS_ORDER
		JOIN SUBS USING(S_CD)
		WHERE S_CYCLE='2'
		AND S_CANCEL='N'
	</select>
	
	<!-- 격주 구독 결제내역 추가 --> 
	<insert id="insertBiAddPay">
		INSERT INTO SUBS_PAY VALUES(
		   #{payNo},
		   SYSDATE,
		   #{amount},
		   #{memberNo},
		   #{subsOrderCode}
		)
	</insert>
	
	<!-- 격주 금요일 배송중->배송완으로 변경 -->
	<update id="updateBiFri">
		UPDATE SUBS_DELIVERY A
		SET DELIVERY_CD ='3'
		WHERE DELIVERY_CD ='2'
		AND S_ORDER_CD IN (SELECT S_ORDER_CD FROM SUBS_ORDER
		              WHERE S_CYCLE ='2'  AND S_CANCEL='N')
	</update>
	
	<!-- 격주 수요일 배송전->배송중으로 변경 -->
	<update id="updateBiDel">
		UPDATE SUBS_DELIVERY A
		SET DELIVERY_CD ='2'
		WHERE DELIVERY_CD ='1'
		AND S_ORDER_CD IN (SELECT S_ORDER_CD FROM SUBS_ORDER
		              WHERE S_CYCLE ='2'  AND S_CANCEL='N')
	</update>
	
	<!-- 구독 제외 상품용 상품 리스트 조회 -->
	<select id="selectProductList" resultMap="product_list">
		SELECT PRODUCT_NM, P_CD
		FROM PRODUCT
		ORDER BY P_CATEGORY_NO
	</select>
	
	
</mapper>
