<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="subscriptionMapper">
	
	
	<select id="createSOrderNo" resultType="string">
		SELECT 
		<choose>
	   		<when test='box == 1'>
				CONCAT(TO_CHAR(SYSDATE, '"S"YYYYMMDD-"00"'), SEQ_S_ORDER_CD.NEXTVAL) as temp
			</when>
	   		<otherwise>
				CONCAT(TO_CHAR(SYSDATE, '"J"YYYYMMDD-"00"'), SEQ_S_ORDER_CD.NEXTVAL) as temp
			</otherwise>
		</choose>
		FROM DUAL
	</select>
	
	
	
	<select id="createDelDate" resultType="date">
		SELECT NEXT_DAY(SYSDATE, '수요일') FROM DUAL
	</select>
	
	
	
	<insert id="insertSubsOrder">
		INSERT INTO SUBS_ORDER VALUES(
			#{sOrderNo},
			DEFAULT, DEFAULT,
			#{inputName},
			#{inputPhone},
			#{inputAddress},
			#{inputDelText},
			#{firstDelDate},
	        DEFAULT,
          	#{cycle},
           	#{memberNo},
           	#{box}
	       )
	</insert>
	
	
</mapper>
