.faq-container{
    /* border: 1px solid red; */
    margin: 20px 200px 300px 200px;
    display: flex;
}

/* faq 카테고리 */
.faq-button{
    /* border: 1px solid red; */
    width: 20%;
    text-align: center;
    padding-left: 25px;
}

.faq-button > div{
    /* border: 1px solid rgb(113, 214, 199); */
    width: 100px;
    height: 50px;
    color: gray;
    margin-bottom: 30px;
    padding-top: 11.5px;
    border-radius: 10px;
}

.faq-button > div:hover{
    cursor: pointer;
    background-color: rgb(113, 214, 199); 
    color:white; 
    font-weight: bold;
}


/* faq 질문 내용 */
.faq-content{
    /* border: 1px solid red; */
    /* width: 100%; */
    padding: 10px;
}

.faq-content-list > div{
    /* border: 1px solid red; */
    padding-left: 20px;
    /* 질문 간격 */
    margin-bottom: 40px;
}

.faq-content-list > div > span{
    margin: 0 10px;
}

.faq-content-list > div > span:nth-of-type(2):hover{
    cursor: pointer;
}

.faq-content-list > div > span:nth-of-type(1){
    /* border: 1px solid red; */
    font-size: 24px;
    font-weight: bold;
    color: rgb(113, 214, 199);
}

.faq-content-list > div > span:nth-of-type(2){
    font-weight: bold;
    color: rgb(101, 101, 101);
}

.faq-list{
    border: 0;
    background-color: #F3F6F9;
    color: rgb(101, 101, 101);
    font-weight: bold;
}

.faq-content-list >div>div{
    /* border: 1px solid red; */
    margin-left: 50px;
    margin-top: 20px;
    padding: 20px;
    background-color: #F3F6F9;
    color: rgb(150, 150, 150);
}

