<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paymentMapper">

	<resultMap type="payment" id="payment_rm">
		<id property="orderCode" column="ORDER_CD" />
		<result property="customerEmail" column="MEMBER_EMAIL" />
		<result property="payAmount" column="PAY_AMOUNT" />
		<result property="payDate" column="PAY_DT" />
	</resultMap>
	
	
	<resultMap type="paymentDetail" id="pPaymentDetail_rm">
		<id property="orderCode" column="P_ORDER_CD"/>
		<result property="customerName" column="MEMBER_NAME"/>
		<result property="customerEmail" column="MEMBER_EMAIL"/>
		<result property="payAmount" column="P_PAY_AMOUNT"/>
		<result property="payDate" column="P_PAY_DT"/>
		<result property="deliveryAddress" column="P_ORDER_ADDR"/>
		<result property="deliveryStatement" column="DELIVERY_ST"/>
		<result property="deliveryRequest" column="P_DL_REQ"/>
		<result property="orderDate" column="P_ORDER_DT"/>
		<result property="productName" column="PRODUCT_NM"/>
		<result property="optionName" column="OPTION_NM"/>
	</resultMap>
	
	
	<resultMap type="paymentDetail" id="sPaymentDetail_rm">
		<id property="orderCode" column="S_ORDER_CD"/>
		<result property="customerName" column="MEMBER_NAME"/>
		<result property="customerEmail" column="MEMBER_EMAIL"/>
		<result property="payAmount" column="S_PAY_AMOUNT"/>
		<result property="payDate" column="S_PAY_DT"/>
		<result property="deliveryAddress" column="S_ORDER_ADDR"/>
		<result property="deliveryStatement" column="DELIVERY_ST"/>
		<result property="deliveryRequest" column="S_DL_REQ"/>
		<result property="deliveryDate" column="S_DELIVERY_DT"/>
		<result property="subscriptionName" column="S_NM"/>
		<result property="subscriptionCycle" column="S_CYCLE"/>
		<result property="subscriptionException" column="PRODUCT_NM"/>
	</resultMap>
	
	
	
	<select id="selectAllPayment" resultMap="payment_rm">
		SELECT S.S_ORDER_CD AS ORDER_CD, M.MEMBER_EMAIL, S.S_PAY_AMOUNT AS PAY_AMOUNT, S.S_PAY_DT AS PAY_DT
		FROM SUBS_PAY S
		JOIN MEMBER M ON S.MEMBER_NO = M.MEMBER_NO
		UNION ALL
		SELECT P.P_ORDER_CD AS ORDER_CD, M.MEMBER_EMAIL, P.P_PAY_AMOUNT AS PAY_AMOUNT, P.P_PAY_DT AS PAY_DT
		FROM PRODUCT_PAY P
		JOIN MEMBER M ON P.MEMBER_NO = M.MEMBER_NO
		ORDER BY PAY_DT DESC
	</select>
	
	
	
	<select id="searchPayment" resultMap="payment_rm">
		SELECT S.S_ORDER_CD AS ORDER_CD, M.MEMBER_EMAIL, S.S_PAY_AMOUNT AS PAY_AMOUNT, S.S_PAY_DT AS PAY_DT
		FROM SUBS_PAY S
		JOIN MEMBER M ON S.MEMBER_NO = M.MEMBER_NO
		<if test='query != null and query !=""'>
			WHERE 
			<choose>
				<when test='key == "orderNo"'>
					S.S_ORDER_CD LIKE '%${query}%'
				</when>
				<when test='key == "customerEmail"'>
					MEMBER_EMAIL LIKE '%${query}%'
				</when>
				<when test='key == "orderDate"'>
					S.S_PAY_DT BETWEEN TO_DATE('${query}', 'YYYY/MM/DD') AND TO_DATE('${query}', 'YYYY/MM/DD') + 0.99999
				</when>
			</choose>
		</if>
		UNION ALL
		SELECT P.P_ORDER_CD AS ORDER_CD, M.MEMBER_EMAIL, P.P_PAY_AMOUNT AS PAY_AMOUNT, P.P_PAY_DT AS PAY_DT
		FROM PRODUCT_PAY P
		JOIN MEMBER M ON P.MEMBER_NO = M.MEMBER_NO
		<if test='query != null and query !=""'>
			WHERE 
			<choose>
				<when test='key == "orderNo"'>
					P.P_ORDER_CD LIKE '%${query}%'
				</when>
				<when test='key == "customerEmail"'>
					MEMBER_EMAIL LIKE '%${query}%'
				</when>
				<when test='key == "orderDate"'>
					P.P_PAY_DT BETWEEN TO_DATE('${query}', 'YYYY/MM/DD') AND TO_DATE('${query}', 'YYYY/MM/DD') + 0.99999
				</when>
			</choose>
		</if>
		ORDER BY PAY_DT DESC
	</select>
	
	<select id="checkOrder" resultType="_int">
		SELECT COUNT(*) 
		FROM PRODUCT_ORDER
		WHERE P_ORDER_CD = #{orderCode}
	</select>
	
	
	<!-- 개별 상품 상세 조회 -->
	<select id="selectProductPaymentDetail" resultMap="pPaymentDetail_rm">
		SELECT  P_ORDER_CD, MEMBER_NAME, MEMBER_EMAIL, P_PAY_AMOUNT,
		        P_PAY_DT, P_ORDER_ADDR, P_ORDER_DT, 
		        P_DL_REQ, DELIVERY_ST, OPTION_NM, PRODUCT_NM
		FROM PRODUCT_PAY
		JOIN MEMBER USING(MEMBER_NO)
		JOIN PRODUCT_ORDER USING (P_ORDER_CD)
		JOIN PRODUCT_DELIVERY USING (DELIVERY_CD)
		JOIN OPTION_TB USING(P_ORDER_CD)
		JOIN OPTION_TYPE USING(OPTION_CD)
		JOIN PRODUCT USING(P_CD)
		WHERE P_ORDER_CD = #{orderCode}
	</select>
	
	<!-- 구독 상품 상세 조회 -->
	<select id="selectSubsPaymentDetailList" resultMap="sPaymentDetail_rm">
		SELECT  S_ORDER_CD, MEMBER_NAME, MEMBER_EMAIL, S_PAY_AMOUNT, S_PAY_DT, S_ORDER_ADDR, 
		        S_DELIVERY_DT, DELIVERY_ST, S_DL_REQ, S_NM, S_CYCLE, PRODUCT_NM
		FROM SUBS_PAY
		JOIN MEMBER USING(MEMBER_NO)
		JOIN SUBS_DELIVERY USING(S_ORDER_CD)
		JOIN SUBS_ORDER USING(S_ORDER_CD)
		JOIN PRODUCT_DELIVERY USING(DELIVERY_CD)
		JOIN SUBS USING(S_CD)
		JOIN SUBS_EXCEPTION USING(S_ORDER_CD)
		JOIN PRODUCT USING(P_CD)
		WHERE S_ORDER_CD = #{orderCode}
	</select>
	

	
	
	
	
	
	
</mapper>
