<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">

	<resultMap type="product" id="product_rm">
		<id property="productCode" column="P_CD"/>
		
		<result property="productCategoryNo" column="P_CATEGORY_NO"/>
		<result property="productCategory" column="P_CATEGORY_NM"/>
		
		<result property="farmNo" column="FARM_NO"/>
		<result property="farmName" column="FARM_NM"/>
		
		<result property="productName" column="PRODUCT_NM"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="productState" column="PRODUCT_ST"/>
		<result property="productInfo" column="PRODUCT_INFO"/>
		
		<result property="productDate" column="PR_DATE"/>
		<result property="productUpdate" column="PU_DATE"/>
		
		<result property="productDateCh" column="PR_DATE_CH"/>
		<result property="productUpdateCh" column="PU_DATE_CH"/>
		<result property="thumbnail" column="THUMBNAIL"/>
	</resultMap>
	
	<resultMap type="farm" id="farm_rm">
		<id property="farmNo" column="FARM_NO"/>
		<result property="farmName" column="FARM_NM"/>
		<result property="producer" column="PRODUCER"/>
		<result property="origin" column="ORIGIN"/>
		<result property="farmState" column="FARM_ST"/>
	</resultMap>
	
	<resultMap type="optionType" id="option_rm">
		<id property="optionCode" column="OPTION_CD"/>
		<result property="productCode" column="P_CD"/>
		<result property="optionName" column="OPTION_NM"/>
		<result property="optionPrice" column="OPTION_PRICE"/>
	</resultMap>
	
	<resultMap type="productImage" id="image_rm">
		<id property="productImageNo" column="P_IMG_NO"/>
		<result property="productCode" column="P_CD"/>
		<result property="imageRename" column="IMG_RENAME"/>
		<result property="imageRoot" column="IMG_ROOT"/>
		<result property="imageLevel" column="IMG_LEVEL"/>
	</resultMap>
	
	<resultMap type="productCategory" id="category_rm">
		<id property="productCategoryNo" column="P_CATEGORY_NO"/>
		<result property="productCategoryName" column="P_CATEGORY_NM"/>
	</resultMap>
	
	
	<!-- 상품 전체 조회 -->
	<select id="selectAll" resultMap="product_rm">
		SELECT P_CD, PRODUCT_NM, P_CATEGORY_NO, P_CATEGORY_NM, 
	       TO_CHAR(PR_DATE, 'YY-MM-DD') PR_DATE_CH, 
	       FARM_NM, PRODUCT_ST,
	      (SELECT IMG_ROOT FROM PRODUCT_IMG I
	       WHERE IMG_LEVEL = 0
	       AND I.P_CD = P.P_CD) THUMBNAIL
	
		FROM PRODUCT P
		JOIN P_CATEGORY USING(P_CATEGORY_NO)
		JOIN FARM USING(FARM_NO)
		ORDER BY P_CD
	</select>

	<!-- 상품 상세조회(상품) -->
	<select id="selectProduct" resultMap="product_rm">
		SELECT P_CD, PRODUCT_NM, PRODUCT_PRICE, PRODUCT_ST, P_CATEGORY_NM, PRODUCT_INFO,
	       TO_CHAR(PR_DATE, 'YYYY-MM-DD') PR_DATE_CH,
	       TO_CHAR(PU_DATE, 'YYYY-MM-DD') PU_DATE_CH
		FROM PRODUCT
		JOIN P_CATEGORY USING(P_CATEGORY_NO)
		WHERE P_CD = #{productCode}
	</select>
	
	<!-- 상품 상세조회(농장) -->
	<select id="selectFarm" resultMap="farm_rm">
		SELECT * FROM FARM
		WHERE FARM_NO = (SELECT FARM_NO FROM PRODUCT WHERE P_CD = #{productCode})
	</select>
	
	<!-- 상품 상세조회(옵션) -->
	<select id="selectOptionType" resultMap="option_rm">
		SELECT * FROM OPTION_TYPE
		WHERE P_CD = #{productCode}
	</select>
	
	<!-- 상품 상세조회(이미지) -->
	<select id="selectPImage" resultMap="image_rm">
		SELECT IMG_ROOT, IMG_LEVEL
		FROM PRODUCT_IMG WHERE P_CD = #{productCode}
	</select>
	
	<!-- 상품 품절 처리 -->
	<update id="soldout">
		UPDATE PRODUCT SET
		PRODUCT_ST = 'O'
		WHERE P_CD = #{procuctCode}
	</update>
	
	<!-- 상품 입고 처리 -->
	<update id="stocked">
		UPDATE PRODUCT SET
		PRODUCT_ST = 'I'
		WHERE P_CD = #{procuctCode}
	</update>
	
	<!-- 상품 카테고리 조회 -->
	<select id="selectCategory" resultMap="category_rm">
		SELECT * FROM P_CATEGORY
		ORDER BY P_CATEGORY_NO 
	</select>
	
	<!-- 상품 농장 조회 -->
	<select id="selectFarmList" resultMap="farm_rm">
		SELECT * FROM FARM
		WHERE FARM_ST = 'Y'
		ORDER BY FARM_NO
	</select>
	

</mapper>
